html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  max-width: 100%;
  
}

img{
  height: auto;
 
}

#disqus_thread{
  
  width: 100%;
}

.MuiAppBar-colorPrimary{
  background-color:#F05945 !important;
  
}

.MuiPaper-elevation4{
  box-shadow: 0 0 0 0 !important;
  -webkit-box-shadow: 0 !important;
}

.splide--slide {
  padding: 0 !important;
  height: 30em!important;
  overflow: hidden;
  /* width: 300%; */
}

/* .splide img{
height:300%;
width: auto;


} */
